a {
  cursor: pointer;

}
h3 {
  align-self: center;
  font-weight: bold;
}
.container {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 20px;
}
