<div class="backdrop">
    <div class="box">
      <h3>Add Customer</h3>
      <form (ngSubmit)="Onsubmit()" [formGroup]="customerForm">
        <label for="firstname">First Name </label><br>
        <input type="text"
        class="form-cintrol"
        formControlName = "firstName"
        id = "firstName"><br>
        <label for="lastname">Last Name </label><br>
        <input type="text"
        class="form-cintrol"
        formControlName = "lastName"
        id = "lastName"><br>
        <label for="city">City </label><br>
        <input type="text"
        class="form-cintrol"
        formControlName = "city"
        id = "city"><br>
        <label for="country">Country</label><br>
        <select id="country" formControlName = "country" class="form-cintrol">
          <option value="Israel">Israel</option>
          <option value="England">England</option>
          <option value="USA">USA</option>
          <option value="Spain">Spain</option>
        </select><br>
        <input type="radio" value="male" formControlName="gender">
          <span>male</span>
        <label>
          <input type="radio" value="female" formControlName="gender">
            <span>female</span>
        </label>
        <div formArrayName="orders">
          <div class="row" *ngFor="let order of controls; let i = index" [formGroupName]="i">
            <label for="orderName">Order Name:</label>
            <input type="text" formControlName="name">
            <label for="orderName">Price:</label>
            <input type="number" formControlName="price">
            <button type="button" class="btn btn-danger" (click)="RemoveOrder(i)">X</button>
          </div>
        </div>
        <button type="button" class="btn btn-success" (click)="AddOrder()">Add Order</button><br>
        <button type="button" class="btn btn-danger" (click)="OnCancel()"> Cancel </button>
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid"> Add Customer </button>
      </form>
  </div>
<div>
